:root{
    --aside-width: 20%;

    --del-padding-left: 2%;
    --updt-padding-left: 1.5%;

    --checkbox-width: 5%;
    --description-width: calc(90% - var(--checkbox-width) - var(--category-width) - var(--deadline-width) - var(--priority-width) - var(--status-width) - 2*var(--del-updt-width) - var(--del-padding-left) - var(--updt-padding-left));
    --category-width: 18%;
    --deadline-width: 15%;
    --priority-width: 12%;
    --status-width: 8%;
    --del-updt-width: 3%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #07072f;
    padding: 20px;
}

main{
    display: flex;
    flex-direction: row;
}

aside{
    position: relative;
    height: 94.5vh;
    width: var(--aside-width);
    border-right: 1px #8080803f solid;
    padding-right: 10px;
}

.status>li{
    list-style: none;
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    color: aliceblue;
}

.status>li.status-on{
    background-color: #EB3678;
    color: #07072f;
}

section{
    width: calc(100% - 2% - var(--aside-width));
    margin: 0 auto;
}

section>nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section>nav>ul{
    display: flex;
    flex-direction: row;
}

section>nav>ul>li{
    list-style: none;
    padding: 15px 20px;
    color: aliceblue;
}

section>nav>ul>li.category-on{
    color: #ec6999;
    background-color: #5353987c;
    border-radius: 5px;
}

#add-task-btn{
    background-color: #EB3678;
    width: 100px;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.status-opt, .category-opt, input[type=checkbox]{
    cursor: pointer;
}

table{
    margin: 0 auto;
    border-spacing: 0;
    width: 100%;
    color: aliceblue;
    margin-top: 20px;
}

th{
    text-align: left;
    color: aliceblue;
    background-color: #eb3678a9;
}

th:first-child{
    border-radius: 10px 0px 0px 0px;
}

th:last-child{
    border-radius: 0px 10px 0px 0px;
}

th:nth-child(1), td:nth-child(1){
    width: var(--checkbox-width);
    text-align: center;
}

th:nth-child(2), td:nth-child(2){
    width: var(--description-width);
    padding-left: 10px;
}

th:nth-child(3), td:nth-child(3){
    width: var(--category-width);
}

th:nth-child(4), td:nth-child(4){
    width: var(--deadline-width);
}

th:nth-child(5), td:nth-child(5){
    width: var(--priority-width);
}

th:nth-child(6), td:nth-child(6){
    width: var(--status-width);
}

th:nth-child(7), td:nth-child(7){
    width: var(--del-updt-width);
    text-align: center;
}

th:nth-child(8), td:nth-child(8){
    width: var(--del-updt-width);
    text-align: center;
}

tr{
    height: 50px;
}

tr:last-child>td:first-child{
    border-bottom-left-radius: 10px;
}

tr:last-child>td:last-child{
    border-bottom-right-radius: 10px;
}

tr:nth-child(2n){
    background-color: #430c5a54;
}
tr:nth-child(3n){
    background-color: #7a1cac37;
}
tr:nth-child(4n){
    background-color: #ac49e14b;
}

.del-btn:hover , .edit-btn:hover, #add-category-btn:hover{
    cursor: pointer;
}

.form-bg{
    display: none;
    background-color: rgba(128, 128, 128, 0.386);
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}


.task-add-form, .task-edit-form, .category-add-form{
    color: aliceblue;
    min-width: 50%;
    height: fit-content;
    background-color: #240221;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    font-weight: 800;

    #cancel-task, #cancel-edit, #cancel-category{
        position:absolute;
        top: 0;
        right: 0;
        background-color:#EB3678;
        border: none;
        font-size: 20px;
        font-weight: 800;
        width: 40px;
        border-top-right-radius: 20px;
        padding-right: 10px;
        cursor: pointer;
    }

    #submit-task, #submit-edit-task, #submit-add-category{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        height: 40px;
        width: 150px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        color: #07072f;
        background-color: #d78fa9;
    }

    label{
        font-size: 30px;
    }
    input{
        height: 35px;
        width: 90%;
        color: #07072f;
        padding: 0px 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        background-color:#ddbbc7;
    }

    ::placeholder{
        color: #07072f;
    }

    select{
        height: 35px;
        width: 50%;
        color: #07072f;
        padding: 0px 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        background-color:#ddbbc7;
    }
}

#submit-task:hover , #submit-edit-task:hover:hover, #submit-add-category:hover{
    cursor: pointer;
}

#logout-btn{
    background-color: #d78fa9;
    color: white;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    cursor: pointer;;
}